.button-container {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-weight: 900;
}

.button-man {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.2em;
    padding: 12px 30px;
    font-weight: 900;
}

.separate {
    border-top: 2px solid #4F4F4F;
    height: 3px;
    width: 100%;
    margin: 10px 0;
}


.products-div {
    width: 70%;
    padding-left: 25px;
    font-weight: 900;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.search-form .search-input {
    margin: 0 16px;
}

.empty {
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #828282;
}

.filter-button {
    font-size: 1em;
    letter-spacing: 0.05em;
    padding: 7px 20px;
    margin-top: 5px;
    font-weight: 900;
}

.content-div {
    font-weight: 500;
    margin: 1px 15px 10px;
    width: fit-content;
    color: #828282;
    font-size: 1.1em;
}

@media(max-width:950px) {
    .content-div {
        margin: 10px 0;
    }
}

.slogan {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 2;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.promo {
    position: absolute;
    top: 20px;
    left: 0px;
    color: white;
    transform: rotate(-45deg);
    font-size: 0.9em;
}

.des-image img {
    width: 100%;
    height: 100%;
}

.offer-container {
    margin-top: 12px;
    width: fit-content;
    border-radius: 5px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 5px 15px;
    font-size: 0.9em;
    font-weight: 500;
}

.box-mobile {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-bottom: 25px;
}

.box-mobile .box {
    height: 53vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 165px;
    display: flex;
    width: 100%;
    max-height: 200px;
    margin-bottom: 3px;
}

.box-mobile p {
    margin-top: 0 !important;
    margin-bottom: 0.3em !important;
    word-break: break-word;
}

.box-mobile .descrip {
    padding: 0.5em 1em;
    min-height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 0.05em;
    position: relative;
}

.box-mobile img {
    object-fit: cover;
    width: 42vw;
    height: 100%;
    max-width: 250px;
}

.box-mobile .simbol {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.box-promo {
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
}

.fly-button {
    position: fixed;
    bottom: 15px;
    left: 2vw;
}

.shopping-button {
    border-radius: 20px;
    text-align: center;
    padding: 12px;

}

.shopping-button .mat-icon {
    font-size: 40px;
    width: 40px;
}

.detail-form {
    padding: 20px;
}

.detail-div {
    display: flex;
    flex-wrap: wrap;
}

.label {
    font-weight: 500;
    width: 30%;
    max-width: 150px;
    margin-top: 10px;
}

.detail-form .destiny {
    width: 50%;
}

.movil-form {
    z-index: 3;
    background-color: #fafafa;
    border-bottom: 1px solid silver;
}

.movil-form.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 15px;
    position: fixed;
    top: 64px;
    border-radius: 5px;
    padding: 15px 15px 5px 0px;
    width: 62%;
}


.title-category {
    background-image: url(../../../assets/images/Frame65.png);
    background-size: cover;
    padding: 0px 25px 5px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-shadow: 0 0 2px #fff, 0px 4px 4px rgba(130, 130, 130, 0.5);
}

.mini-card {
    width: 10vw;
    min-width: 210px;
    padding: 15px 20px;
    margin: 10px;
    background-color: white;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    min-height: 380px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #C4C4C4;
}

.mini-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.mini-card .name {
    color: #4F4F4F;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.mini-card .price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.mini-card .price {
    border-radius: 5px;
    width: fit-content;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.mini-card .square {
    left: 0;
    border-radius: 5px 0px;
    width: 85px;
    height: 85px;
    z-index: 2;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.mini-card .promo {
    top: 22px;
    left: 0px;
    font-size: 1em;
    font-weight: 900;
    z-index: 3;
}

.mini-card .oferta {
    margin-top: 10px;
}

.mini-card .add {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

::ng-deep .mat-optgroup-label {
    font-family: Montserrat;
}

@media(max-width: 600px) {
    .products-div {
        width: 100%;
        padding-left: 0;
    }
    .search-form .search-input {
        width: 100%;
        margin: 0;
    }
    .detail-form .detail-input {
        width: 100%;
        margin: 0;
    }
    .detail-form .destiny {
        width: 100%;
    }
    .label {
        width: 100%;
        max-width: 650px;
        margin-top: 0;
    }
    .box-mobile .descrip {
        font-size: 0.85em;
        height: 68%;
    }
    .movil-form.shadow {
        position: relative;
        top: 0;
        box-shadow: none;
    }
}