<div style="max-width: 300px;">
    <div mat-dialog-title>
        <div style="display: flex; flex-wrap: wrap;justify-content: space-between;">
            <h2 class="title-dialog">
                Inicia Sesión
            </h2>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

    </div>
    <div mat-dialog-content>
        <mat-hint>
            Inicia sesión para brindarte una mejor experiencia
        </mat-hint>
        <div class="w3-margin-top">
            <button mat-raised-button style="background:#ee3037" class="w3-block w3-margin-bottom social"
                (click)="auth.signIn('google')">
                Ingresa con <strong>Google</strong>
            </button>
            <button mat-raised-button style="background:#1243c0" class="w3-block w3-margin-bottom social"
                (click)="auth.signIn('facebook')">
                Ingresa con <strong>Facebook</strong>
            </button>

            <p *ngIf="auth$ | async">Ingreso</p>
        </div>
    </div>
</div>