.table-sale {
  width: 100%;
  border-collapse: collapse;
}

.table-sale__descrip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center
}

.table-sale__colum {
  display: flex;
  flex-direction: column;
}

.table-sale__th {
  padding: 4px
}

.table-sale__td {
  padding: 4px;
}

.table-sale__td--border {
  border-top: 2px solid #4F4F4F;
}

.table-sale__td--space {
  white-space: nowrap;
}

.table-sale__input--thin {
  width: 40px;
}

.table-sale__input--width {
  width: 54px
}

.total-div {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}