// Import library functions for theme creation.
@use 'sass:map';

@import '../../node_modules/@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

//Mandaditos palette
$mandaditos-palette: (
  50: #2ec4b6,      //primary
  100: #6ff7e8,     //lighter
  200: #009386,     //darker
  300:#ffa01c,
  400:#ffd154,
  500:#c67100,
  
  contrast: (
    50: white,
    100: white,
    200: white,
    300:white,
    400:white,
    500:white,
  )
);

//The keys of the following classes should be included on theme.model.ts
//Defining palettes
$colors: (
  warnPalette: mat-palette($mat-red),
  pinkPalette: mat-palette($mat-pink),
  purplePalette: mat-palette($mat-purple),
  deepPurplePalette: mat-palette($mat-deep-purple),
  indigoPalette: mat-palette($mat-indigo),
  bluePalette: mat-palette($mat-blue),
  lightBluePalette: mat-palette($mat-light-blue),
  cyanPalette: mat-palette($mat-cyan),
  tealPalette: mat-palette($mat-teal),
  greenPalette: mat-palette($mat-green),
  lightGreenPalette: mat-palette($mat-light-green),
  limePalette: mat-palette($mat-lime),
  yellowPalette: mat-palette($mat-yellow),
  amberPalette: mat-palette($mat-amber),
  orangePalette: mat-palette($mat-orange),
  deepOrangePalette: mat-palette($mat-deep-orange),
  brownPalette: mat-palette($mat-brown),
  greyPalette: mat-palette($mat-grey),
  blueGreyPalette: mat-palette($mat-blue-grey),
  mandaditosPalette: mat-palette($mandaditos-palette, 50, 100, 200),
  mandaditosAccentPalette: mat-palette($mandaditos-palette, 300, 400, 500),
);

@mixin theme($primary, $accent) {
  $theme: mat-light-theme($primary, $accent, mat-palette($mat-red));
  @include angular-material-theme($theme)
}


// @each $namePrimary, $valPrimary in $colors {
//   @each $nameAccent, $valAccent in $colors {
//     //@debug "#{$namePrimary}-#{$nameAccent}\a";
//     .#{$namePrimary}-#{$nameAccent} {
//       @include theme($valPrimary, $valAccent)
//     }
//   }
// }
@each $nameAccent, $valAccent in $colors {
  //@debug "#{$namePrimary}-#{$nameAccent}\a";
  @debug map.get($colors, deepPurplePalette);
  .deepPurplePalette-#{$nameAccent} {
    @include theme(map.get($colors, deepPurplePalette), $valAccent)
  }
}