<div class="w3-section w3-margin-left w3-margin-right animated fadeInUp delay-2" style="height: 100%">
    <div style="padding: 0 3vw;">
        <div *ngIf="listview">
            <h2 class="title">DESPACHO</h2>
            <div class="ms-flex w3-margin-top">
                <div class="dispatch" *ngIf="(driver$ | async) as drivers ">
                    <mat-form-field appearance="outline" class="dispatch__input">
                        <input matInput placeholder="FECHA / PERIODO" [formControl]="date" [satDatepicker]="picker">
                        <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field *ngIf="admin" class="dispatch__input" appearance="outline">
                        <mat-label>Chofer</mat-label>
                        <mat-select [formControl]="dispatchForm">
                            <mat-option>Todos</mat-option>
                            <mat-option *ngFor="let driver of drivers" [value]="driver">
                                {{driver.displayName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div *ngIf="sales$|async as sales">
                        <div class="w3-hide-small w3-hide-medium">
                            <div *ngIf="sales.length; else empty">
                                <div style="min-height: 54vh;">
                                    <mat-card class="dispatch__container"
                                        *ngFor="let item of sales| paginate: { itemsPerPage: 5, currentPage: p1 }">
                                        <div>
                                            <div class="dispatch__driver background--primary  w3-margin-bottom">
                                                <mat-icon style="margin-right: 10px; vertical-align: middle;">
                                                    account_circle
                                                </mat-icon>
                                                <span> {{item['driver']['displayName']}}</span>
                                            </div>
                                            <div class="dispatch__descrip">
                                                <div class="w3-center" style="width: 15%;">
                                                    <div>#{{("0000"+item['correlative']).slice(-5) }}</div>
                                                    <div class="dispatch__descrip--ligth">
                                                        {{item['deliveryDate'].toMillis() | date: 'dd/MM/yyyy'}}
                                                    </div>
                                                </div>
                                                <div class="w3-center" style="width: 10%;">
                                                    <img class="dispatch__user border--primary"
                                                        [src]="item['createdBy']['photoURL']" alt="">
                                                </div>
                                                <div class="w3-center" style="width: 30%;">
                                                    {{item['createdBy']['displayName']}}</div>
                                                <div class="w3-center" style="width: 20%;">
                                                    {{item['location']['number']?item['location']['number']:''}}</div>
                                                <div style="width: 25%; " class="dispatch__descrip w3-center">
                                                    <button mat-icon-button color="primary"
                                                        class="dispatch__buttonList border--primary"
                                                        (click)="currentSale(item)">
                                                        <mat-icon>list</mat-icon>
                                                    </button>
                                                    <div class="subtotal">S/.
                                                        {{item['totalConfirmedPrice'] + item['deliveryConfirmedPrice'] | number: '.2'}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dispatch__descrip dispatch__descrip--ligth">
                                                <div class="w3-center" style="width: 15%;">
                                                    <mat-icon class="font--secondary">place</mat-icon>
                                                </div>
                                                <div style="width: 65%;">
                                                    <div>{{item['location']['address']}}</div>
                                                    <mat-hint>Referencia: {{item['location']['reference']}}</mat-hint>
                                                </div>
                                                <div style="width: 20%;" class="ms-flex">
                                                    <a target="_blank"
                                                        [href]="'https://www.waze.com/ul?ll='+item['location']['coord']['lat']+'%2C'+item['location']['coord']['lng']+'&navigate=yes&zoom=17'">
                                                        <img style="width: 30px;"
                                                            src="../../../assets/images/001-waze.png" alt="">
                                                    </a>
                                                    <span class="ms-fill"></span>
                                                    <a target="_blank"
                                                        [href]="'https://maps.google.com/?q='+item['location']['coord']['lat']+','+item['location']['coord']['lng']">
                                                        <img style="width: 30px;"
                                                            src="../../../assets/images/002-mapas-de-google.png" alt="">
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="ms-flex">
                                                <div style="width: 65%; padding-left: 15px;">
                                                    Método de pago: {{item['payType']}}
                                                </div>
                                                <span class="ms-fill"></span>
                                                <button mat-raised-button color="accent"
                                                    *ngIf="item['status']=='En reparto'" class="dispatch__finalize"
                                                    (click)="deliver(item)">Finalizar</button>
                                                <div *ngIf="item['status']=='Entregado'">
                                                    Entregado:
                                                    {{item['deliveryFinishedDate'].toMillis() | date: 'dd/MM/yyyy HH:mm'}}
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>

                                </div>
                                <div class="dispatch__paginator" *ngIf="sales.length">
                                    <pagination-controls (pageChange)="p1 = $event" previousLabel="" nextLabel=""
                                        maxSize="6">
                                    </pagination-controls>
                                </div>
                            </div>



                        </div>
                        <div class="w3-hide-large ">
                            <div *ngIf="sales.length; else empty">
                                <div style="min-height: 54vh;">
                                    <mat-card *ngFor="let item of sales| paginate: { itemsPerPage: 5, currentPage: p }">
                                        <div>
                                            <div class="dispatch__driver background--primary  w3-margin-bottom">
                                                <mat-icon style="margin-right: 10px; vertical-align: middle;">
                                                    account_circle
                                                </mat-icon>
                                                <span> {{item['driver']['displayName']}}</span>
                                            </div>
                                            <div class="dispatch__descrip">
                                                <div>#{{("0000"+item['correlative']).slice(-5) }}</div>
                                                <div class="date">
                                                    {{item['deliveryDate'].toMillis() | date: 'dd/MM/yyyy'}}
                                                </div>
                                            </div>
                                            <div class="dispatch__descrip">
                                                <div class="w3-center" style="width: 30%;">
                                                    <img class="dispatch__user border--primary"
                                                        [src]="item['createdBy']['photoURL']" alt="">
                                                </div>
                                                <div class="w3-center" style="width: 70%;">
                                                    <div>
                                                        {{item['createdBy']['displayName']}}</div>
                                                    <div>
                                                        {{item['location']['number']?item['location']['number']:''}}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="dispatch__descrip dispatch__descrip--ligth">
                                                <div class="dispatch__pay background--third"> {{item['payType']}}</div>
                                                <div class="dispatch__descrip ">
                                                    <button mat-icon-button color='primary'
                                                        class="dispatch__buttonList border--primary"
                                                        (click)="listview=false;currentSale(item)">
                                                        <mat-icon>list</mat-icon>
                                                    </button>
                                                    <div class="subtotal w3-margin-left">
                                                        S/.{{item['totalConfirmedPrice'] + item['deliveryConfirmedPrice'] | number: '.2'}}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="dispatch__descrip dispatch__descrip--ligth">
                                                <div style="width: 75%;">
                                                    <div>{{item['location']['address']}}</div>
                                                    <mat-hint>Referencia: {{item['location']['reference']}}</mat-hint>
                                                </div>
                                                <div style="width: 20%;" class="ms-flex">
                                                    <a target="_blank"
                                                        [href]="'https://www.waze.com/ul?ll='+item['location']['coord']['lat']+'%2C'+item['location']['coord']['lng']+'&navigate=yes&zoom=17'">
                                                        <img style="width: 30px; margin-bottom: 10px;"
                                                            src="../../../assets/images/001-waze.png" alt="">
                                                    </a>
                                                    <span class="ms-fill"></span>
                                                    <a target="_blank"
                                                        [href]="'https://maps.google.com/?q='+item['location']['coord']['lat']+','+item['location']['coord']['lng']">
                                                        <img style="width: 30px; margin-bottom: 10px;"
                                                            src="../../../assets/images/002-mapas-de-google.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ms-flex">
                                                <div style="width: 10%;"></div>
                                                <span class="ms-fill"></span>
                                                <button mat-raised-button color="accent" class="dispatch__finalize"
                                                    (click)="deliver(item)"
                                                    *ngIf="item['status']=='En reparto'">Finalizar</button>
                                                <div *ngIf="item['status']=='Entregado'">
                                                    Entregado:
                                                    {{item['deliveryFinishedDate'].toMillis() | date: 'dd/MM/yyyy HH:mm'}}
                                                </div>
                                            </div>

                                        </div>
                                    </mat-card>

                                </div>
                                <div class="dispatch__paginator" *ngIf="sales.length">
                                    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                                        maxSize="6">
                                    </pagination-controls>
                                </div>
                            </div>
                            <ng-template #empty>
                                <div *ngIf="noResult$ | async"
                                    class="w3-container w3-center w3-margin-top w3-margin-bottom">
                                    <img [src]="noResultImage" alt="no data" style="width: 100%; max-width: 300px;">
                                    <p>Sin Resultados</p>
                                </div>
                            </ng-template>
                        </div>

                    </div>

                </div>
                <mat-card class="ticket--small w3-hide-small w3-hide-medium" *ngIf="choose.length">
                    <div class="ticket">
                        <h3 class="ticket__subtitle ms-flex ms-flex--center">
                            CARRITO DE COMPRAS
                            <span class="ms-fill"></span>
                            <button mat-icon-button (click)="choose = []">
                                <mat-icon>close</mat-icon>
                            </button>
                        </h3>
                        <mat-divider></mat-divider>
                        <div class="w3-margin-top">
                            <div class="ms-flex w3-margin-bottom">
                                <div style="width: 20%;">Cant.</div>
                                <div style="width: 55%;">Descripción</div>
                                <div style="width: 25%;">Precio</div>
                            </div>
                            <div *ngFor="let item of choose">
                                <div class="ms-flex ms-flex--center">
                                    <div style="width: 20%;">{{item['quantity']}}
                                        ({{item['product']['ref']?item['product']['refUnit']:item['product']['unit']}})
                                    </div>
                                    <div style="width: 55%;">{{item['product']['description']}}</div>
                                    <div style="width: 25%;" *ngIf="!item['noRefQuantity']">S/.
                                        {{giveProductPrice(item)|number: '.2'}}
                                    </div>
                                    <div style="width: 25%;" *ngIf="item['noRefQuantity']">S/.
                                        {{item['price']|number: '.2'}}
                                    </div>
                                </div>
                                <div *ngIf="item['product']['promo'] && item['quantity']>=item['product']['promoData']['quantity']"
                                    class="ms-flex ms-flex--center">
                                    <div style="width: 20%;"></div>
                                    <div style="width: 55%;">
                                        <mat-hint>
                                            {{roundNumber(item['quantity']/item['product']['promoData']['quantity']) }}
                                            ({{item['product']['promoData']['quantity']}} {{item['product']['unit']}} x
                                            S/.{{item['product']['promoData']['promoPrice'] | number: '.2'}} )
                                        </mat-hint>
                                    </div>
                                </div>

                                <div *ngIf="item['noRefQuantity']" class="ms-flex ms-flex--center">
                                    <div style="width: 20%;"></div>
                                    <div style="width: 55%;">
                                        <mat-hint>({{item['noRefQuantity']}} {{item['product']['unit']}} x
                                            S/.{{item['product']['price'] | number: '.2'}}/{{item['product']['unit']}} )
                                        </mat-hint>
                                    </div>
                                </div>

                            </div>
                            <div class="ticket__separate"></div>
                            <div>
                                <div class="ms-flex ms-flex--center">
                                    <div class="ticket__delivery">Total</div>
                                    <div style="width: 25%;">S/. {{total | number: '.2'}}</div>
                                </div>
                            </div>
                            <div class="ticket__separate"></div>
                            <div class="ms-flex ms-flex--center">
                                <div class="ticket__delivery">Delivery</div>
                                <div style="width: 25%;">S/. {{delivery | number: '.2'}}</div>
                            </div>
                        </div>
                        <div class="ticket__divTotal">
                            <div class="ticket__total">
                                S/.{{delivery + total | number: '.2'}}
                            </div>
                        </div>
                    </div>
                </mat-card>


            </div>
        </div>
        <div *ngIf="!listview">
            <div class="ms-flex ms-flex--center">
                <button mat-icon-button color="accent" (click)="listview=true">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h2 class="title w3-margin-left">COMPRA #{{("0000"+correlative).slice(-5) }}</h2>
            </div>
            <div>
                <div style="margin-top: 20px;">
                    <div class="ms-flex w3-margin-bottom">
                        <div style="width: 25%;">Cant.</div>
                        <div style="width: 50%;">Descripción</div>
                        <div style="width: 25%;">Precio</div>
                    </div>
                    <div *ngFor="let item of choose">
                        <div class="ms-flex ms-flex--center">
                            <div style="width: 25%;">{{item['quantity']}}
                                ({{item['product']['ref']?item['product']['refUnit']:item['product']['unit']}})
                            </div>
                            <div style="width: 50%;">{{item['product']['description']}}</div>
                            <div style="width: 25%;" *ngIf="!item['noRefQuantity']">S/.
                                {{giveProductPrice(item)|number: '.2'}}
                            </div>
                            <div style="width: 25%;" *ngIf="item['noRefQuantity']">S/.
                                {{item['price']|number: '.2'}}
                            </div>
                        </div>
                        <div *ngIf="item['product']['promo'] && item['quantity']>=item['product']['promoData']['quantity']"
                            class="ms-flex ms-flex--center">
                            <div style="width: 25%;"></div>
                            <div style="width: 50%;">
                                <mat-hint>{{roundNumber(item['quantity']/item['product']['promoData']['quantity']) }}
                                    ({{item['product']['promoData']['quantity']}} {{item['product']['unit']}} x
                                    S/.{{item['product']['promoData']['promoPrice'] | number: '.2'}} )
                                </mat-hint>
                            </div>
                        </div>

                        <div *ngIf="item['noRefQuantity']" class="ms-flex ms-flex--center">
                            <div style="width: 25%;"></div>
                            <div style="width: 50%;">
                                <mat-hint>({{item['noRefQuantity']}} {{item['product']['unit']}} x
                                    S/.{{item['product']['price'] | number: '.2'}}/{{item['product']['unit']}} )
                                </mat-hint>
                            </div>
                        </div>

                    </div>

                    <div class="ticket__separate"></div>
                    <div>
                        <div class="ms-flex">
                            <div class="ticket__delivery">Total</div>
                            <div style="width: 25%;">S/. {{total | number: '.2'}}</div>
                        </div>
                    </div>
                    <div class="ticket__separate"></div>
                    <div class="ms-flex">
                        <div class="ticket__delivery">Delivery</div>
                        <div style="width: 25%;">S/. {{delivery | number: '.2'}}</div>
                    </div>
                </div>
                <div class="ticket__divTotal">
                    <div class="ticket__total">
                        S/.{{delivery + total | number: '.2'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>