<div class="w3-section w3-margin-left w3-margin-right animated fadeInUp slower" style="height: 100%">
    <div style="padding: 0 3vw; min-height: 25vh;">
        <h2 class="title">CLIENTES</h2>
        <mat-tab-group>
            <mat-tab label="Lista de Clientes">
                 <!-- Forms -->
                 <div style="padding-top: 16px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input autocomplete="off" [formControl]="listFilter" type="text" matInput
                            placeholder="Buscar">
                    </mat-form-field>
                </div>
                <div *ngIf="listFiltered$ | async">
                    <div *ngIf="dataSource.filteredData.length else noRating">
                        <div class="table-contain">
                            <table  mat-table [dataSource]="dataSource" matSort class="ms-table">
                                <ng-container class=" w3-center" matColumnDef="index">
                                    <th *matHeaderCellDef class="w3-center ms-table__th"
                                        style="width: 10%;min-width: 30px;">
                                        N°
                                    </th>
                                    <td mat-cell *matCellDef="let element; let i = index" class="w3-center ms-table__td">
                                        {{element['index']}}
                                    </td>
                                </ng-container>
    
                                <ng-container class="w3-center" matColumnDef="name">
                                    <th *matHeaderCellDef class="w3-center ms-table__th" style="min-width: 170px;">Nombre
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="ms-table__td" style="min-width: 170px;">
                                        {{element['displayName']}}
                                    </td>
                                </ng-container>
    
                                <ng-container class=" w3-center" matColumnDef="phone">
                                    <th *matHeaderCellDef class="w3-center ms-table__th" style="min-width: 120px;">Telefóno
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="ms-table__td w3-center"
                                        style="min-width: 120px;">
                                        {{element['contact']['number']}}
                                    </td>
                                </ng-container>
    
                                <ng-container class=" w3-center" matColumnDef="address">
                                    <th *matHeaderCellDef class="w3-center ms-table__th" style="min-width: 180px;">Dirección
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="ms-table__td" style="min-width: 180px;">
                                        {{element['contact']['address']}}
                                    </td>
                                </ng-container>
    
                                <ng-container class=" w3-center" matColumnDef="sales">
                                    <th *matHeaderCellDef class="w3-center ms-table__th" style="min-width: 120px;">Nro de
                                        Mandaditos
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="ms-table__td w3-center"
                                        style="min-width: 120px;">
                                        {{element['salesCount']}}
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                            </table>
                        </div>
                        <mat-paginator #paginatorList class="ms-paginator" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
               
            </mat-tab>
            <mat-tab label="Calificaciones">
                <!-- Forms -->
                <div style="padding-top: 16px;">
                    <mat-form-field class="w3-margin-right" appearance="outline">
                        <input readonly matInput placeholder="FECHA / PERIODO" [formControl]="date"
                            [satDatepicker]="picker">
                        <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field sclass="w3-margin-right" appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input autocomplete="off" [formControl]="ratingFilter" type="text" matInput
                            placeholder="Buscar">
                    </mat-form-field>
                </div>
                <div *ngIf="(rating$ | async)?.length else noRating">

                    <!-- Table -->
                    <div class="table-contain">
                        <table *ngIf="ratingFiltered$ | async" mat-table [dataSource]="ratingDataSource" matSort
                            class="ms-table">
                            <ng-container class=" w3-center" matColumnDef="nroMandadito">
                                <th *matHeaderCellDef class="w3-center ms-table__th" style="width: 10%;">
                                    Nro Mandadito
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" class="w3-center ms-table__td">
                                    {{element.correlative}}
                                </td>
                            </ng-container>

                            <ng-container class=" w3-center" matColumnDef="cliente">
                                <th *matHeaderCellDef class="w3-center ms-table__th" style="min-width: 170px;">Cliente
                                </th>
                                <td mat-cell *matCellDef="let element" class="ms-table__td" style="min-width: 170px;">
                                    {{element.createdBy.displayName}}
                                </td>
                            </ng-container>

                            <ng-container class=" w3-center" matColumnDef="servicio">
                                <th *matHeaderCellDef class="w3-center ms-table__th">Servicio
                                </th>
                                <td *matCellDef="let element" class="ms-table__td" style=" padding-right:1em">
                                    <div class="rating">
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.serviceRate >= 1 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.serviceRate >= 2 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.serviceRate >= 3 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.serviceRate >= 4 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.serviceRate >= 5 ? '#FFD600':'white'}">★</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container class=" w3-center" matColumnDef="productos">
                                <th *matHeaderCellDef class="w3-center ms-table__th">Productos
                                </th>
                                <td mat-cell *matCellDef="let element" class="ms-table__td">
                                    <div class="rating">
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.productRate >= 1 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.productRate >= 2 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.productRate >= 3 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.productRate >= 4 ? '#FFD600':'white'}">★</span>
                                        <span class="rating__star"
                                            [ngStyle]="{color: element.rateData.productRate >= 5 ? '#FFD600':'white'}">★</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container class=" w3-center" matColumnDef="comentario">
                                <th *matHeaderCellDef class="w3-center ms-table__th" style="min-width: 170px;">
                                    Comentario
                                </th>
                                <td mat-cell *matCellDef="let element" class="ms-table__td w3-center"
                                    style="min-width: 170px;">
                                    {{element?.rateData?.observation}}
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="ratingDisplayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: ratingDisplayedColumns;"></tr>

                        </table>
                    </div>
                    <mat-paginator #ratingPaginator class="ms-paginator" [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
                <ng-template #noRating>
                    <div *ngIf="noResult$ | async" class="w3-container w3-center w3-margin-top w3-margin-bottom">
                        <img [src]="noResultImage" alt="no data" style="width: 100%; max-width: 300px;">
                        <p style="font-family: Montserrat;">Sin Resultados</p>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>