.main__sidenav {
    background: white;
    width: 300px;
}

.main__toolbar {
    position: fixed;
    top: 0;
    z-index: 4;
}

.main__logo {
    width: 45px;
    margin-right: 10px;
}

.main__logomovil {
    max-width: 200px;
    padding: 7px 0;
    height: 56px;
}

.main__logoimage{
    height: 100%;max-width: 200px;object-fit: contain;
}

.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    padding: 28px 10px 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
}

.user__name {
    width: 60%;
    text-align: center;
}

.user__image {
    border-width: 2.5757px;
    border-style: solid;
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.menu {
    min-height: 51vh;
}

.menu__title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 20px;
}

.menu__button {
    text-align: left;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 10px 5px 40px;
    font-size: 1em;
    letter-spacing: 0.05em;
    /*color: #2B2B2B;*/
}

.menu__icon {
    vertical-align: middle;
    margin-right: 10px;
}

.meraki {
    width: 300px;
    padding: 25px 0;
}

.meraki__logo {
    width: 80px;
}

.contact {
    position: fixed;
    bottom: 1.2em;
    right: 1.2em;
}

.contact__button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    margin: 1.2em;
}

.contact__icon {
    width: 1.5em;
    font-size: 1.5em;
}

