<div class="mat-app-background" [ngClass]="(isDarkTheme$ | async)">
  <mat-toolbar color="primary">
      <div id="navbar-brand" >
        <a>Demo App</a>
      </div>
  </mat-toolbar>

  <mat-toolbar color="accent">
    <mat-slide-toggle color="primary" 
      [checked]="isDarkTheme$ | async"
      (change)="toggleDarkTheme($event.checked)">
      Enable Dark Theme
    </mat-slide-toggle>
  </mat-toolbar>

  <div class="component-container">
      <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
              </p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary">VERY LIKE</button>
              <button mat-raised-button color="accent">MUCH SHARE</button>
          </mat-card-actions>
      </mat-card>
  </div>
</div>