<div *ngIf="theme$ |async as theme" class="mat-app-background" [ngClass]="theme">
  <div>
    <mat-toolbar color="primary">
        <div id="navbar-brand" >
          <a>Demo App</a>
        </div>
    </mat-toolbar>

    <mat-toolbar color="accent">
      <form [formGroup]="themeFormGroup">
        <mat-form-field class="w3-small" color="primary" appearance="outline">
          <mat-label>Primary</mat-label>
          <mat-select formControlName="primary">
            <mat-option *ngFor="let food of themeModelSelect" [value]="food">
              {{food |titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w3-small" color="primary" appearance="outline">
          <mat-label>Accent</mat-label>
          <mat-select formControlName="accent">
            <mat-option *ngFor="let food of themeModelSelect" [value]="food">
              {{food |titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-toolbar>

    <div *ngIf="themeFormGroup$|async" class="component-container">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">VERY LIKE</button>
                <button mat-raised-button color="accent">MUCH SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>