<div mat-dialog-title>
  <h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em">
      <mat-icon style="vertical-align:middle">add_circle</mat-icon>
      {{data.edit?'Editar Producto':'Crear Producto'}}
  </h2>
  <mat-divider></mat-divider>
</div>
<mat-dialog-content>
  <form [formGroup]="productForm"
      style="display:flex; flex-direction: column;">

      <!-- description  -->
      <mat-form-field style="margin-bottom: 8px"
        hintLabel="Máx. 40 carácteres" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input #input autocomplete="off" maxlength="40"
            formControlName="description" type="text"
              matInput placeholder="Descripción del producto">
          <ng-template *ngIf="descriptionFormatting$ | async"></ng-template>
          <mat-error>
              <span *ngIf="productForm.get('description').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('description').errors?.descriptionRepeatedValidator">Este contenido ya se encuentra repetido.</span>
          </mat-error>
          <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
      </mat-form-field>

      <!-- Categories -->
      <mat-form-field *ngIf="category$ | async as categories"
        style="margin-bottom: 8px; display:block" appearance="outline">
          <mat-label>Categoria</mat-label>
          <input autocomplete="off"
            formControlName="category"
            [matAutocomplete]="categoryAutocomplete"
            type="text" matInput>
          <mat-autocomplete 
            autoActiveFirstOption   
            #categoryAutocomplete="matAutocomplete">
            <mat-option (click)="onAddCategory()"
              [value]="''">
              <mat-icon>add_circle_outline</mat-icon>Nueva Categoria
            </mat-option>
            <mat-option *ngFor="let category of categories"
              [value]="category">
              {{category}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            <span *ngIf="productForm.get('category').errors?.required">Por favor, complete el campo.</span>
            <span *ngIf="productForm.get('category').errors?.invalid">Dato inválido. Complete con alguna opción válida.</span>
          </mat-error>
      </mat-form-field>

      <div style="display:flex; flex-direction: row; justify-content: space-between; width: 100%"> 
        <!-- price  -->
        <mat-form-field style="margin-bottom: 8px; width: 48%"
          appearance="outline">
          <mat-label>Precio (S/.)</mat-label>
          <input autocomplete="off"
            formControlName="price" type="number" min="0"
              matInput placeholder="Precio del producto">
          <mat-error>
              <span *ngIf="productForm.get('price').errors?.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
        
        <!-- unit  -->
        <!-- <mat-form-field style="margin-bottom: 8px; width: 48%"
          appearance="outline">
            <mat-label>Unidad</mat-label>
            <input autocomplete="off"
              formControlName="unit" type="text"
                matInput placeholder="Unidad del producto">
            <mat-error>
                <span *ngIf="productForm.get('unit').errors?.required">Campo requerido</span>
            </mat-error>
        </mat-form-field> -->

        <mat-form-field *ngIf="unit$ | async as units"
          style="margin-bottom: 8px; width: 48%" appearance="outline">
            <mat-label>Unidad</mat-label>
            <input autocomplete="off"
              formControlName="unit"
              [matAutocomplete]="unitAutocomplete"
              type="text" matInput>
            <mat-autocomplete 
              autoActiveFirstOption   
              #unitAutocomplete="matAutocomplete">
              <mat-option (click)="onAddUnit()"
                [value]="''">
                <mat-icon>add_circle_outline</mat-icon>Nueva
              </mat-option>
              <mat-option *ngFor="let unit of units"
                [value]="unit">
                {{unit}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              <span *ngIf="productForm.get('unit').errors?.required">Complete.</span>
              <span *ngIf="productForm.get('unit').errors?.invalid">Dato inválido.</span>
            </mat-error>
        </mat-form-field>
      </div>
      
      

      <!-- ref  -->
      <div style="display: flex; flex-direction: row; justify-content: flex-end;">
        <mat-slide-toggle style="margin-bottom: 8px"
            color="primary"
            [checked]="productForm.get('ref').value"
            (change)="onRefToggleChange($event)">
          Precio sujeto a consulta
        </mat-slide-toggle>
      </div>
      

      <div *ngIf="(refState$ | async)"
        style="display:flex; flex-direction: row; justify-content: space-between; width: 100%">
        <!-- refPrice  -->
        <mat-form-field style="margin-bottom: 8px; width: 48%"
            appearance="outline">
          <mat-label>Precio Referencial</mat-label>
          <input autocomplete="off"
            formControlName="refPrice" type="number" min="0"
              matInput placeholder="Precio">
          <mat-error>
              <span *ngIf="productForm.get('refPrice').errors?.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>

        <!-- refUnit  -->
        <!-- <mat-form-field style="margin-bottom: 8px; width: 48%"
            appearance="outline">
          <mat-label>Unidad referencial</mat-label>
          <input autocomplete="off"
            formControlName="refUnit" type="string"
              matInput placeholder="Unidad">
          <mat-error>
              <span *ngIf="productForm.get('refUnit').errors?.required">Campo requerido</span>
          </mat-error>
        </mat-form-field> -->

        <mat-form-field *ngIf="unitRef$ | async as units"
          style="margin-bottom: 8px; width: 48%" appearance="outline">
            <mat-label>Unidad referencial</mat-label>
            <input autocomplete="off"
              formControlName="refUnit"
              [matAutocomplete]="refUnitAutocomplete"
              type="text" matInput>
            <mat-autocomplete 
              autoActiveFirstOption   
              #refUnitAutocomplete="matAutocomplete">
              <mat-option (click)="onAddUnit()"
                [value]="''">
                <mat-icon>add_circle_outline</mat-icon>Nueva
              </mat-option>
              <mat-option *ngFor="let unit of units"
                [value]="unit">
                {{unit}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              <span *ngIf="productForm.get('refUnit').errors?.required">Complete.</span>
              <span *ngIf="productForm.get('refUnit').errors?.invalid">Dato inválido.</span>
            </mat-error>
        </mat-form-field>
        
      </div>
      

      <!-- Photo  -->
      <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: flex-end; margin-bottom: 16px;">
          <img class="w3-card-4" (click)="photoURL.click()"
              *ngIf="productForm.get('photoURL').value!=null" style="width: 100%;"
              [src]="productForm.get('photoURL').value" alt="fotografía">
          <img class="w3-card-4" (click)="photoURL.click()"
              *ngIf="productForm.get('photoURL').value==null" style="width: 100%;"
              [src]="noImage" alt="sin fotografía">

          <mat-progress-bar *ngIf="photos?.resizing$.photoURL | async"
          style="width:100%" mode="indeterminate">
          </mat-progress-bar>
          <span *ngIf="photos.resizing$.photoURL | async" 
          class="w3-small ms-color-11 ms-font-montserrat" style="width:100%">*comprimiendo</span>
          <input style="display: none" #photoURL type="file" accept='image/*' 
            (change)="addNewPhoto('photoURL', photoURL.files)"/>
      </div>



  </form>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button class="w3-margin-right" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="PRIMARY" (click)="onSubmitForm()" type="button"
      [disabled]="productForm.status != 'VALID'">Guardar</button>
</mat-dialog-actions>
