
.sales-div {
    width: 70%;
    padding: 0 25px;
}

.list-container {
    width: 100%;
    max-width: 900px;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    border-top-color: #c4c4c4;
    border-right-color: #c4c4c4;
    border-bottom-color: #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list-container--gray{
    border-width: 1px !important;
    border-color: #c4c4c4;
  }

.list-container--black {
    border-left-color: black;
}

.list-container--red {
    border-color: red;
}

.correlative {
    font-weight: 900;
    letter-spacing: 0.05em;
}

.search-form .search-input {
    margin: 0 16px;
}

.date {
    font-weight: 500;
    letter-spacing: 0.05em;
}

/* Styles for tab labels */

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0;
}

.buttonContainer .filter-button {
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 8px 0;
}

@media(max-width:950px) {
    .sales-div {
        width: 100%;
        padding: 0;
    }
}

@media(max-width: 600px) {
    .search-form .search-input {
        width: 100%;
        margin: 0;
    }
}

@media(max-width:800px) {
    .list-container {
        padding: 10px;
        font-size: small;
    }
}