h2 {
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: 900;
}

.row-category {
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 0 16px;
    margin-top: 16px;
    margin-right: 16px;
    max-width: 350px;
    min-width: 300px;
}