<div style="max-width: 280px;">
    <div mat-dialog-title>
        <div style="display: flex; flex-wrap: wrap;justify-content: space-between;">
            <h2 class="title-dialog" style="width: 85%;">
                Gracias por confiar en nosotros.
            </h2>
            <button mat-icon-button mat-dialog-close style="width: 15%;">
                <mat-icon>close</mat-icon>
            </button>
        </div>  
        <mat-divider></mat-divider>
    </div>
     
    <div mat-dialog-content> 
        <mat-hint>Nos comunicaremos contigo, para coordinar la entrega de tu mandadito</mat-hint>
    </div>

</div>